Repository dequelabs/action-vpat-report: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn build

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix", "prettier --write", "yarn build"],
  "*.{json,css,md}": ["prettier --write"]
}

codeowners & fix tests
  .github/CODEOWNERS
  .github/workflows/test.yml
Due: none

fix main
  action.yml
  package.json
Due: prettier --write

fix base
  .github/workflows/test.yml
Due: none

standard token?
  .github/workflows/test.yml
Due: none

docs: Generate a VPAT
  vpat-2022-12-14-test.md
Due: prettier --write

fix codeowners
  .github/CODEOWNERS
Due: none

docs
  README.md
Due: prettier --write

make token optional
  action.yml
  src/main.ts
Due: eslint --fix, prettier --write, yarn build

input docs
  README.md
Due: prettier --write

security thing
  .github/review.yml
Due: none

feat: Initial implementation :sparkles::sparkles::sparkles::sparkles: (#1)
  .eslintignore
  .eslintrc.json
  .github/CODEOWNERS
  .github/review.yml
  .github/workflows/test.yml
  .gitignore
  .lintstagedrc.json
  .prettierignore
  README.md
  action.yml
  dist/index.js
  dist/index.js.map
  dist/sourcemap-register.js
  package.json
  src/buildTable.ts
  src/getIssues.ts
  src/main.ts
  src/wcag.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, yarn build

chore: Apply feedback from Gabe's review
  .lintstagedrc.json
  README.md
  package.json
  tsconfig.json
Due: prettier --write

chore: Apply feedback from Gabe's review (#4)
  .lintstagedrc.json
  README.md
  package.json
  tsconfig.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

docs: Fix example workflow (#5)
  README.md
Due: prettier --write

fix(action.yml): include all a11y issues in vpat
  action.yml
Due: none

docs: Generate a VPAT
  vpat-2023-05-23-test.md
Due: prettier --write

fix: upgrade to node20
  .github/workflows/test.yml
  action.yml
Due: none

fix: update node and checkout actions to v4
  .github/workflows/test.yml
Due: none

fix: upgrade to node20 and checkout and setup-node actions to v4 (#8)
  .github/workflows/test.yml
  action.yml
Due: none

docs: Generate a VPAT
  vpat-2024-08-14-test.md
Due: prettier --write

fix: only include issues with vpat label
  src/buildTable.ts
  tsconfig.json
Due: eslint --fix, prettier --write, yarn build

ci: Configuration for Dependabot
  .github/dependabot.yml
Due: none

chore: Update CODEOWNERS
  .github/CODEOWNERS
Due: none

fix: only include issues with vpat label (#10)
  src/buildTable.ts
  tsconfig.json
Due: eslint --fix, prettier --write, yarn build

ci: Configuration for Dependabot (#11)
  .github/dependabot.yml
Due: none

docs: Generate a VPAT
  vpat-2025-08-07-test.md
Due: prettier --write

ci: Pin test dependencies
  .github/workflows/test.yml
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: Update CODEOWNERS (#12)
  .github/CODEOWNERS
Due: none

docs: Generate a VPAT
  vpat-2025-08-11-test.md
Due: prettier --write

ci: Pin test dependencies (#19)
  .github/workflows/test.yml
Due: none

docs: Generate a VPAT
  vpat-2026-06-02-test.md
Due: prettier --write

ci: use a Dependabot-visible PAT to publish the sample VPAT
  .github/workflows/test.yml
Due: none

ci: gate the VPAT publish step instead of using a PAT
  .github/workflows/test.yml
Due: none

ci: gate the sample-VPAT publish step to main pushes (#33)
  .github/workflows/test.yml
Due: none

docs: Generate a VPAT
  vpat-2026-07-29-test.md
Due: prettier --write
